@font-face {
  font-family: Prototype;
  src: url(../data/Prototype.ttf) format("truetype"); }
@keyframes outer-ring-rotate {
  0% {
    transform: rotate(0deg); }
  11.1111111111% {
    transform: rotate(0deg); }
  11.1111111112% {
    transform: rotate(40deg); }
  22.2222222222% {
    transform: rotate(40deg); }
  22.2222222223% {
    transform: rotate(80deg); }
  33.3333333333% {
    transform: rotate(80deg); }
  33.3333333334% {
    transform: rotate(120deg); }
  44.4444444444% {
    transform: rotate(120deg); }
  44.4444444445% {
    transform: rotate(160deg); }
  55.5555555556% {
    transform: rotate(160deg); }
  55.5555555557% {
    transform: rotate(200deg); }
  66.6666666667% {
    transform: rotate(200deg); }
  66.6666666668% {
    transform: rotate(240deg); }
  77.7777777778% {
    transform: rotate(240deg); }
  77.7777777779% {
    transform: rotate(280deg); }
  88.8888888889% {
    transform: rotate(280deg); }
  88.888888889% {
    transform: rotate(320deg); }
  100% {
    transform: rotate(320deg); } }
@keyframes inner-ring-clip {
  0% {
    clip-path: polygon(100% 0, 50% 0, 50% 50%, 50% 0, 0 0, 0 100%, 100% 100%); }
  6.25% {
    clip-path: polygon(100% 0, 50% 0, 50% 50%, 0 0, 0 0, 0 100%, 100% 100%); }
  18.75% {
    clip-path: polygon(100% 0, 50% 0, 50% 50%, 0 100%, 0 100%, 0 100%, 100% 100%); }
  31.25% {
    clip-path: polygon(100% 0, 50% 0, 50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%); }
  43.75% {
    clip-path: polygon(100% 0, 50% 0, 50% 50%, 100% 0, 100% 0, 100% 0, 100% 0); }
  50% {
    clip-path: polygon(0 0, 50% 0, 50% 50%, 50% 0, 50% 0, 50% 0, 50% 0); }
  56.25% {
    clip-path: polygon(0 0, 0 0, 50% 50%, 50% 0, 0 0, 0 0, 0 0); }
  68.75% {
    clip-path: polygon(0 100%, 0 100%, 50% 50%, 50% 0, 0 0, 0 100%, 0 100%); }
  81.25% {
    clip-path: polygon(100% 100%, 100% 100%, 50% 50%, 50% 0, 0 0, 0 100%, 100% 100%); }
  93.75% {
    clip-path: polygon(100% 0, 100% 0, 50% 50%, 50% 0, 0 0, 0 100%, 100% 100%); }
  100% {
    clip-path: polygon(100% 0, 50% 0, 50% 50%, 50% 0, 0 0, 0 100%, 100% 100%); } }
@-webkit-keyframes logo-wobble {
  0% {
    transform: rotate(-10deg); }
  25% {
    transform: rotate(-20deg); }
  75% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-10deg); } }
@-webkit-keyframes logo-dots {
  0% {
    transform: rotate(0deg); }
  16.6666666667% {
    transform: rotate(0deg); }
  16.6666666668% {
    transform: rotate(-8.4deg); }
  33.3333333334% {
    transform: rotate(-8.4deg); }
  33.3333333335% {
    transform: rotate(-16.8deg); }
  50.0000000001% {
    transform: rotate(-16.8deg); }
  50.0000000002% {
    transform: rotate(-25.2deg); }
  66.6666666668% {
    transform: rotate(-25.2deg); }
  66.6666666669% {
    transform: rotate(-33.6deg); }
  83.3333333335% {
    transform: rotate(-33.6deg); }
  83.3333333336% {
    transform: rotate(-42deg); }
  99.9999999999% {
    transform: rotate(-42deg); }
  100% {
    transform: rotate(0deg); } }
.leaflet-popup-content p, .leaflet-popup-content li {
  margin: 0;
  color: #c7cbd7;
  font-size: 11px;
  text-shadow: rgba(0, 0, 0, 0.8) 0 0 5px;
  white-space: pre; }

.leaflet-menu, .leaflet-touch .leaflet-draw-actions {
  position: absolute;
  left: 55px;
  z-index: 400;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-clip: padding-box; }

.leaflet-touch .leaflet-bar input, .leaflet-touch .leaflet-bar textarea, .leaflet-touch .leaflet-bar span:not(.ui-slider-handle), #side-bar input.input, #side-bar input.button {
  height: 23px;
  width: auto;
  padding: 0 10px;
  border-bottom: 1px solid #081b21;
  outline-width: 0;
  background-color: #24373d;
  color: #c7cbd7;
  font-size: 12pt;
  text-align: center;
  line-height: 25px;
  white-space: nowrap; }

.leaflet-touch .leaflet-bar input, .leaflet-touch .leaflet-menu-icons, #side-bar input.input, #side-bar input.button {
  height: 30px;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #081b21;
  border-color: #081b21;
  color: #c7cbd7;
  font-size: 12px;
  font-style: italic;
  line-height: 30px; }

.leaflet-marker-icon.street-name div, .leaflet-marker-icon.garden-name div {
  position: absolute;
  display: block;
  color: #6b6b6b;
  font-size: 16px;
  text-align: center;
  text-shadow: #000000 0 0 5px;
  white-space: nowrap;
  transform: translate(-50%, -50%); }

.leaflet-marker-icon.street-name, .leaflet-marker-icon.garden-name {
  z-index: -10000 !important;
  height: 20px;
  width: 20px; }

.ui-state-default, .ui-button, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  width: 50px;
  margin-left: -25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #c7cbd7;
  color: #454545;
  font-weight: normal;
  text-align: center;
  line-height: 16px; }

.leaflet-interactive:not([stroke="#f06eaa"]), .leaflet-popup-pane, .leaflet-control {
  cursor: -webkit-grab; }

body {
  overflow: hidden;
  font: 14px Prototype, Arial, Helvetica, sans-serif; }
  body a {
    cursor: pointer; }
  body label {
    cursor: pointer; }
  body input,
  body textarea {
    font: 14px Prototype, Arial, Helvetica, sans-serif; }

.leaflet-interactive.hide {
  display: none; }

.leaflet-popup {
  position: absolute;
  height: 1px;
  width: 1px;
  margin-bottom: 20px;
  text-align: left; }
  .leaflet-popup.poly-info .leaflet-popup-content {
    position: relative;
    width: auto !important;
    border: 0;
    background: none; }
  .leaflet-popup.poly-info .leaflet-popup-content::before {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: .8;
    border-radius: 10px;
    background-color: #081b21;
    content: "";
    filter: blur(10px); }
  .leaflet-popup.poly-info .leaflet-popup-tip-container {
    display: none; }
  .leaflet-popup.poly-info .title {
    margin-bottom: 6px;
    font-size: 25px; }
    .leaflet-popup.poly-info .title.dz {
      color: #b82336; }
  .leaflet-popup.poly-info img {
    position: relative;
    top: 3px;
    width: 22px;
    margin-right: 2px; }
  .leaflet-popup.poly-info p {
    margin-bottom: 5px;
    color: #dddddd;
    font-size: 14px; }
  .leaflet-popup.poly-info .description {
    color: #808080;
    white-space: normal; }
  .leaflet-popup.poly-info .type {
    font-size: 18px; }
  .leaflet-popup.poly-info .tier img {
    top: 1px;
    width: 15px;
    margin-right: 0; }
  .leaflet-popup img {
    position: relative;
    width: 10px;
    padding-right: 3px;
    margin-bottom: -1px; }
  .leaflet-popup:not(.poly-info) .leaflet-popup-content {
    width: auto !important; }

.leaflet-popup-content-wrapper {
  padding: 1px;
  border-radius: 12px;
  background: transparent;
  box-shadow: none;
  color: #ffffff;
  text-align: left;
  text-shadow: rgba(0, 0, 0, 0.8) 0 0 5px;
  white-space: nowrap; }

.leaflet-popup-content {
  display: inline-block;
  padding: 6px 10px;
  margin: 0;
  border: #081b21 solid 1px;
  border-radius: 10px 0;
  background-color: #24373d;
  font-size: 14px;
  line-height: 1; }
  .leaflet-popup-content p.sub {
    margin-bottom: 3px; }
  .leaflet-popup-content p:first-of-type {
    padding-top: 5px; }
  .leaflet-popup-content ul {
    padding-left: 15px;
    margin: 2px 0 0; }
    .leaflet-popup-content ul li span {
      position: relative;
      top: 1px;
      margin-left: -5px; }
  .leaflet-popup-content span.qty {
    margin-left: 0; }

.leaflet-popup-tip-container {
  position: absolute;
  top: -18px;
  left: 25px;
  height: 20px;
  width: 40px;
  overflow: hidden;
  pointer-events: none; }

.leaflet-popup-tip {
  height: 17px;
  width: 17px;
  padding: 1px;
  margin: 15px auto 0;
  border: #081b21 solid 1px;
  background: #24373d;
  box-shadow: none;
  color: #ffffff;
  text-align: left;
  white-space: nowrap;
  transform: rotate(45deg); }

.leaflet-popup-scrolled {
  overflow: auto;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd; }

#message {
  position: absolute;
  bottom: 10px;
  z-index: 400;
  width: 100%;
  color: #c7cbd7;
  text-align: center;
  text-shadow: #000000 0 0 5px;
  pointer-events: none; }
  #message .leaflet-popup.poly-info {
    position: fixed;
    top: 23px;
    bottom: initial !important;
    left: 23px !important;
    width: auto;
    max-width: 320px;
    transform: initial !important;
    transition: opacity 0.5s cubic-bezier(0, 0, 0.2, 1); }
  #message.master .leaflet-popup.poly-info {
    left: 60px !important; }

.leaflet-touch .leaflet-draw-actions {
  left: 46px; }
  .leaflet-touch .leaflet-draw-actions a {
    width: auto;
    padding: 0 10px;
    font: 13px Prototype, Arial, Helvetica, sans-serif;
    line-height: 30px; }
  .leaflet-touch .leaflet-draw-actions li {
    display: block; }
.leaflet-touch .leaflet-bar input {
  padding: 0;
  box-shadow: inset 0 0 15px 2px rgba(0, 0, 0, 0.55); }
.leaflet-touch .leaflet-bar textarea {
  height: 400px;
  width: 180px;
  padding: 5px 10px;
  border-width: 0;
  box-shadow: inset 0 0 15px 2px rgba(0, 0, 0, 0.55);
  font-size: 13px;
  text-align: left;
  line-height: normal;
  white-space: pre-wrap;
  word-wrap: break-word;
  resize: none; }
.leaflet-touch .leaflet-menu-icons {
  display: flex;
  margin: 0;
  border: 0;
  border-bottom: 1px solid #1d2c31;
  background-color: #24373d;
  justify-content: space-around; }
  .leaflet-touch .leaflet-menu-icons a {
    border-bottom: 0;
    border-radius: 0; }
  .leaflet-touch .leaflet-menu-icons.colors {
    height: 25px; }
  .leaflet-touch .leaflet-menu-icons .color {
    outline: #24373d 2px solid;
    outline-offset: -2px;
    flex-grow: 1; }
  .leaflet-touch .leaflet-menu-icons:not(.colors) a {
    height: 30px !important; }
.leaflet-touch .leaflet-control-attribution {
  padding: 2px 5px;
  margin: 5px;
  border: #081b21 1px solid;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #24373d;
  box-shadow: none;
  color: #081b21; }
.leaflet-touch .leaflet-menu a,
.leaflet-touch .leaflet-tools a {
  width: auto;
  padding: 0 10px; }

.on-top {
  z-index: 1000; }

#settings-menu {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  z-index: 400;
  height: 610px;
  transform: translate(-50%, -50%); }
  #settings-menu > div {
    margin: 2px 1px; }
  #settings-menu .scroll-box {
    max-height: 547px;
    min-width: 200px;
    overflow-x: auto;
    margin: 0; }
    #settings-menu .scroll-box a:first-child {
      border-radius: 0; }
  #settings-menu a {
    height: 25px;
    line-height: 25px; }

.leaflet-draw-actions li a {
  border: 0;
  border-bottom: 1px solid #1d2c31;
  border-radius: 0; }
.leaflet-draw-actions li:first-child a {
  border: 0;
  border-bottom: 1px solid #1d2c31;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }
.leaflet-draw-actions li:last-child a {
  border: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }
.leaflet-draw-actions li:only-child a {
  border: 0;
  border-radius: 4px; }
.leaflet-draw-actions a {
  height: 28px;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid #1d2c31;
  background-color: #24373d;
  color: #c7cbd7;
  text-decoration: none;
  line-height: 28px; }
  .leaflet-draw-actions a:hover {
    background-color: #2f474e; }

.leaflet-bar a {
  border-bottom: 1px solid #1d2c31;
  background-color: #24373d;
  color: #c7cbd7;
  white-space: nowrap; }
  .leaflet-bar a.active {
    background-color: #2f474e; }
  .leaflet-bar a:hover {
    border-bottom: 1px solid #1d2c31;
    background-color: #2f474e;
    color: #c7cbd7; }
  .leaflet-bar a:last-child {
    border-bottom: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; }
  .leaflet-bar a:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; }
  .leaflet-bar a:only-child {
    border: 0;
    border-radius: 4px; }
  .leaflet-bar a.leaflet-disabled {
    background-color: #24373d;
    color: #bbbbbb;
    cursor: default; }
.leaflet-bar span:first-child:not(.ui-slider-handle) {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }
.leaflet-bar span:not(.ui-slider-handle) {
  display: block;
  height: 26px;
  width: 26px;
  border-bottom: 1px solid #081b21;
  background-color: #24373d;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  color: #000000;
  text-align: center;
  text-decoration: none;
  line-height: 26px; }
.leaflet-bar.map a {
  background-clip: padding-box;
  background-position: 3px 2px;
  background-repeat: no-repeat;
  background-size: 48px 24px;
  font-size: 16px; }
.leaflet-bar.map .leaflet-control-save {
  background-image: url(../images/menu-save.svg); }
  .leaflet-bar.map .leaflet-control-save:not(.leaflet-disabled) {
    background-color: #735711; }
    .leaflet-bar.map .leaflet-control-save:not(.leaflet-disabled):hover {
      background-color: #866616; }
.leaflet-bar.map .leaflet-control-grid {
  background-image: url(../images/menu-grid.svg); }
.leaflet-bar.map .leaflet-control-group {
  background-image: url(../images/menu-group.svg); }
.leaflet-bar.map .leaflet-control-drag {
  background-image: url(../images/menu-drag.svg); }
  .leaflet-bar.map .leaflet-control-drag.enabled {
    background-color: #735711; }
    .leaflet-bar.map .leaflet-control-drag.enabled:hover {
      background-color: #866616; }
.leaflet-bar.map .leaflet-control-tools {
  background-image: url(../images/menu-tools.svg); }
.leaflet-bar.map .leaflet-disabled {
  background-position: -21px 2px; }
.leaflet-bar .leaflet-menu-icons:last-child {
  border-bottom: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }

#side-bar {
  position: fixed;
  right: 0;
  z-index: 1000; }
  #side-bar input.input {
    height: 40px;
    box-sizing: border-box;
    padding-left: 10px;
    margin: 5px 0;
    border: #081b21 1px solid;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: inset 0 0 15px 2px rgba(0, 0, 0, 0.55);
    font-family: Prototype;
    font-size: 13px;
    font-style: normal;
    text-align: left;
    line-height: 40px; }
    #side-bar input.input.incorrect {
      border-color: #923232;
      box-shadow: inset 0 0 15px 2px rgba(146, 50, 50, 0.55); }
  #side-bar input.button {
    position: relative;
    left: 100%;
    height: 30px;
    width: 100px;
    box-sizing: border-box;
    padding-left: 10px;
    margin: 5px 0;
    border: #081b21 1px solid;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: inset 0 0 15px 2px rgba(0, 0, 0, 0.55);
    font-family: Prototype;
    font-size: 16px;
    font-style: normal;
    text-align: center;
    line-height: 30px;
    transform: translateX(-100%);
    transition: all .35s ease-in-out; }
    #side-bar input.button:hover {
      background-color: rgba(255, 145, 6, 0.5);
      box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.55); }
  #side-bar > div {
    position: fixed;
    top: 5px;
    max-height: 89%;
    width: 192px;
    opacity: 1;
    overflow-x: hidden;
    overflow-y: auto;
    border: #081b21 solid 1px;
    border-radius: 10px 0 0;
    background-color: #24373d;
    transform: translateX(0);
    transition: all 1s ease, opacity 1ms; }
    #side-bar > div:not(.active) {
      opacity: 0;
      pointer-events: none; }
  #side-bar .side-content {
    position: relative;
    min-height: 275px;
    padding: 10px 10px 15px 12px;
    border-right: 0;
    color: #c7cbd7;
    font-size: 13px;
    text-shadow: rgba(0, 0, 0, 0.8) 0 0 5px;
    line-height: 1; }
    #side-bar .side-content:last-child {
      margin-bottom: 50px; }
    #side-bar .side-content .error:first-of-type {
      margin-top: 25px;
      text-align: center; }
  #side-bar .side-menu-toggle {
    position: absolute;
    left: -35px;
    height: 35px;
    padding: 0 40px;
    border: #081b21 solid 1px;
    border-radius: 20px;
    background-color: #24373d;
    background-position: 2px 0;
    background-repeat: no-repeat;
    line-height: 35px;
    white-space: nowrap;
    transform: translateX(0);
    transition: all 1s ease; }
    #side-bar .side-menu-toggle.login {
      top: 10px;
      background-image: url(../images/menu-login.svg?v=1.0); }
      #side-bar .side-menu-toggle.login.out {
        background-image: url(../images/menu-logout.svg?v=1.0); }
    #side-bar .side-menu-toggle.mode {
      top: 50px;
      background-image: url(../images/menu-mode.svg?v=1.03); }
    #side-bar .side-menu-toggle.filters {
      top: 90px;
      background-image: url(../images/menu-filters.svg?v=1.03); }
    #side-bar .side-menu-toggle.full {
      top: 130px;
      background-image: url(../images/menu-fullscreen.svg?v=1.0); }
      #side-bar .side-menu-toggle.full.yes {
        background-image: url(../images/menu-restore.svg?v=1.0); }
    #side-bar .side-menu-toggle.changes {
      top: 170px;
      background-image: url(../images/menu-changes.svg?v=1.05); }
    #side-bar .side-menu-toggle.todo {
      top: 210px;
      background-image: url(../images/menu-check.svg?v=1.05); }
    #side-bar .side-menu-toggle.gear {
      top: 250px;
      background-image: url(../images/menu-gear.svg?v=1.0); }
    #side-bar .side-menu-toggle.shorts {
      display: none;
      top: 290px;
      background-image: url(../images/menu-shortcuts.svg?v=1.03); }
    #side-bar .side-menu-toggle.active {
      background-image: url(../images/menu-close.svg?v=1.0) !important; }
  #side-bar div.login, #side-bar div.todo, #side-bar div.changes {
    width: 300px; }
    @media (max-width: 500px) {
      #side-bar div.login, #side-bar div.todo, #side-bar div.changes {
        width: calc(100vw - 40px); } }
  #side-bar div.gear {
    width: calc(100vw - 90px); }
    @media (max-width: 500px) {
      #side-bar div.gear {
        width: calc(100vw - 40px); } }
    @media (min-width: 1090px) {
      #side-bar div.gear {
        width: 998px; } }
    #side-bar div.gear .title {
      font-size: 2.6vw; }
      @media (max-width: 769.23077px) {
        #side-bar div.gear .title {
          font-size: 20px; } }
      @media (min-width: 1153.84615px) {
        #side-bar div.gear .title {
          font-size: 30px; } }
  #side-bar div.credits {
    position: absolute;
    bottom: -30px;
    left: 50%;
    min-width: 140px;
    font-size: 14px;
    text-align: center;
    line-height: 18px;
    transform: translateX(-50%); }
  #side-bar.active.filters > *, #side-bar.active.shorts > * {
    transform: translateX(-194px); }
  #side-bar.active.login > *, #side-bar.active.todo > *, #side-bar.active.changes > * {
    transform: translateX(-302px); }
    @media (max-width: 346px) {
      #side-bar.active.login > *, #side-bar.active.todo > *, #side-bar.active.changes > * {
        transform: translateX(calc(-100vw + 38px)); } }
  #side-bar.active.gear > * {
    transform: translateX(calc(-100vw + 88px)); }
    @media (max-width: 500px) {
      #side-bar.active.gear > * {
        transform: translateX(calc(-100vw + 38px)); } }
    @media (min-width: 1090.90909px) {
      #side-bar.active.gear > * {
        transform: translateX(-1000px); } }
  #side-bar .item {
    padding: 3px 0; }
    #side-bar .item > div {
      display: inline-block;
      width: 20px;
      text-align: center; }
    #side-bar .item .grey {
      width: 10px;
      color: #808080; }
  #side-bar ul {
    padding-left: 15px;
    list-style-type: circle; }
    #side-bar ul li {
      font-size: 13px;
      line-height: 15px; }
  #side-bar .title {
    display: block; }
    #side-bar .title sup {
      font-size: 11px; }
    #side-bar .title.sub.date {
      padding-top: 10px;
      margin-bottom: -10px;
      color: #ff9106; }
  #side-bar a {
    display: block;
    color: #c7cbd7;
    text-decoration: none;
    line-height: 1;
    transition: linear .1s color; }
    #side-bar a span {
      padding-left: 5px; }
      #side-bar a span.quantity {
        position: relative;
        float: right;
        top: 9px;
        opacity: 0;
        padding-left: 0;
        color: #838488;
        font-size: 10px;
        transition: linear 10s opacity; }
    #side-bar a.inactive {
      color: #757882;
      text-decoration: line-through; }
      #side-bar a.inactive img {
        opacity: .5; }
      #side-bar a.inactive .polygon {
        opacity: .2; }
    #side-bar a.button {
      position: absolute;
      right: 15px;
      margin-top: 5px;
      font-size: 10px; }
    #side-bar a:hover span.quantity {
      opacity: 1;
      text-shadow: rgba(0, 0, 0, 0.8) 0 0 5px;
      transition: linear .05s opacity; }
    #side-bar a:not(.side-menu-toggle):hover {
      color: #e38208;
      text-decoration: none; }
    #side-bar a.credits.name {
      display: initial;
      color: #ff9106; }
  #side-bar span.title {
    font-size: 20px;
    text-align: center; }
  #side-bar span.sub.title {
    padding: 10px 0 5px;
    font-size: 16px;
    text-align: left; }
  #side-bar img {
    width: 18px;
    transform: translateY(4px); }
  #side-bar .polygon {
    display: inline-block;
    height: 15px;
    width: 15px;
    opacity: .5;
    border: solid 1px;
    transform: translate(1px, 4px); }
  #side-bar .rem-case {
    position: absolute;
    margin-top: -32px; }
  #side-bar .shorts .sub {
    color: #ff9106; }
  #side-bar > *:not(.active) {
    z-index: -1; }
  #side-bar .todo ul li {
    font-size: 12px; }
  #side-bar .help li {
    display: none; }
  #side-bar p.error {
    color: #923232; }
  #side-bar .divider {
    background-color: #808080;
    height: 3px;
    position: absolute;
    width: 70%;
    margin-top: -15px;
    left: 50%;
    transform: translateX(-50%);
    opacity: .2;
    filter: blur(1px); }

.gear .message {
  position: relative;
  font-size: 16px;
  padding: 20px;
  top: 5px;
  color: #26794d;
  line-height: 30px; }
  .gear .message span {
    color: #639979;
    font-size: 20px; }

.set-piece {
  position: relative;
  display: flex;
  margin: 5px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch; }
  .set-piece:first-of-type {
    margin-top: 20px; }
  .set-piece .name {
    display: inline-block;
    position: relative;
    height: auto;
    min-width: 290px; }
    .set-piece .name .decor {
      position: relative;
      display: inline-block;
      width: auto;
      margin-bottom: 10px; }
    .set-piece .name .bg {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: -1;
      background-color: #26794d;
      filter: blur(3px); }
    .set-piece .name span {
      display: inline-block;
      padding: 0 50px 0 10px;
      white-space: nowrap; }
      .set-piece .name span:first-of-type {
        font-size: 2.2vw;
        padding-top: 10px; }
        @media (max-width: 545.45455px) {
          .set-piece .name span:first-of-type {
            font-size: 12px; } }
        @media (min-width: 1090.90909px) {
          .set-piece .name span:first-of-type {
            font-size: 24px; } }
      .set-piece .name span:last-of-type {
        font-size: 1.3vw;
        text-indent: 10px;
        padding-bottom: 10px; }
        @media (max-width: 846.15385px) {
          .set-piece .name span:last-of-type {
            font-size: 11px; } }
        @media (min-width: 1076.92308px) {
          .set-piece .name span:last-of-type {
            font-size: 14px; } }
    .set-piece .name svg {
      height: 84%;
      position: absolute;
      top: 3px;
      right: 15px;
      z-index: -1; }
    .set-piece .name path,
    .set-piece .name polygon {
      fill: #639979; }
    .set-piece .name .counter {
      font-size: 3.6vw;
      position: absolute;
      right: -6px;
      bottom: -8px; }
      @media (max-width: 833.33333px) {
        .set-piece .name .counter {
          font-size: 30px; } }
      @media (min-width: 1111.11111px) {
        .set-piece .name .counter {
          font-size: 40px; } }
  .set-piece .checks {
    display: inline-block;
    position: relative;
    flex-grow: 1;
    align-self: flex-end; }
    .set-piece .checks svg {
      width: 50px; }
    .set-piece .checks path,
    .set-piece .checks polygon {
      fill: #26794d; }
    .set-piece .checks .decor {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around; }
    .set-piece .checks label,
    .set-piece .checks input {
      display: none; }
    .set-piece .checks a.img-check {
      background-image: url(../images/set-checkbox.svg);
      width: 30px;
      height: 30px;
      position: absolute;
      background-size: 60px 30px;
      margin: -27px -12px; }
      .set-piece .checks a.img-check.checked {
        background-position-x: 30px; }
  .set-piece .bonus {
    position: relative;
    flex-grow: 1;
    margin: 15px; }
    .set-piece .bonus .decor {
      display: flex;
      flex-wrap: wrap; }
      .set-piece .bonus .decor div:not(.line-break) {
        padding: 5px; }
      .set-piece .bonus .decor .set-bonus {
        max-width: 85%;
        opacity: .3; }
        .set-piece .bonus .decor .set-bonus.active {
          opacity: 1; }
      .set-piece .bonus .decor .sub {
        color: #808080; }

.line-break {
  width: 100%; }

.leaflet-pane.leaflet-marker-pane .icon {
  transform: translateZ(0);
  transition-duration: .5s;
  transition-property: transform; }
.leaflet-pane.leaflet-marker-pane .halo {
  position: absolute;
  transform: translateZ(0);
  transition-duration: 1s;
  transition-property: transform;
  pointer-events: none; }
.leaflet-pane.leaflet-marker-pane .anim-icon:hover > .icon, .leaflet-pane.leaflet-marker-pane .anim-icon:focus > .icon, .leaflet-pane.leaflet-marker-pane .anim-icon:active > .icon {
  transform: scale(1.4); }
.leaflet-pane.leaflet-marker-pane .anim-icon:hover > .halo, .leaflet-pane.leaflet-marker-pane .anim-icon:focus > .halo, .leaflet-pane.leaflet-marker-pane .anim-icon:active > .halo {
  transform: scale(2.6); }
.leaflet-pane .leaflet-marker-icon.left img {
  transform: rotate(180deg); }
.leaflet-pane .leaflet-marker-icon.up img {
  transform: rotate(-90deg); }
.leaflet-pane .leaflet-marker-icon.down img {
  transform: rotate(90deg); }

#mapid {
  font-family: Prototype; }
  #mapid .street-name {
    pointer-events: none; }
  #mapid .garden-name {
    pointer-events: none; }
  #mapid .leaflet-map-pane {
    z-index: 0; }
  #mapid .leaflet-zone-pane {
    z-index: 200; }

.leaflet-marker-icon.anim-icon.underground::before {
  position: absolute;
  top: -12px;
  height: 26px;
  width: 100%;
  background-image: url(../images/level.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 26px 26px;
  content: ""; }
.leaflet-marker-icon.anim-icon.overground::before {
  position: absolute;
  bottom: -12px;
  height: 26px;
  width: 100%;
  background-image: url(../images/level.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 26px 26px;
  content: "";
  transform: rotate(180deg); }
.leaflet-marker-icon.hide {
  display: none; }
.leaflet-marker-icon.street-name {
  pointer-events: none; }
  .leaflet-marker-icon.street-name.avenue div {
    transform: translate(-50%, -50%) rotate(-90deg); }
.leaflet-marker-icon.garden-name div {
  color: #0e2d1a;
  font-size: 20px;
  line-height: 20px; }

.leaflet-layer-editing {
  outline: 4px dashed #fe57a1 !important;
  outline-offset: 4px; }

.leaflet-draw-tooltip {
  display: none; }

::-webkit-scrollbar {
  width: 12px;
  border-bottom: 1px solid #081b21;
  border-top: 1px solid #081b21;
  background-color: #24373d; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.55); }

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.55); }

#logo {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  min-height: 15px;
  width: 15%;
  min-width: 80px;
  padding: 5px;
  padding-top: 5%;
  margin: 5px;
  border: #081b21 1px solid;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #24373d;
  background-image: url(../images/logo.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 95%; }

.leaflet-edit-marker-selected.street-name {
  border: 0 dashed rgba(254, 87, 161, 0.6); }
.leaflet-edit-marker-selected.garden-name {
  border: 0 dashed rgba(254, 87, 161, 0.6); }

.hide-all {
  padding-right: 10px;
  font-size: 10px;
  text-align: right; }

.leaflet-editing-icon {
  height: 8px !important;
  width: 8px !important;
  margin-left: -5px !important;
  margin-top: -5px !important;
  border: 1px solid rgba(102, 102, 102, 0.7);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3); }
  .leaflet-editing-icon:hover {
    background: rgba(185, 173, 30, 0.3); }
  .leaflet-editing-icon::before {
    position: absolute;
    height: 10px;
    width: 10px;
    margin: -2px;
    border: 1px solid rgba(102, 102, 102, 0.7);
    background: transparant;
    color: transparent;
    content: " +";
    transform: rotate(45deg); }

#slider-box {
  position: absolute;
  display: block;
  top: 35px;
  left: 46px; }
  #slider-box .leaflet-menu-slider {
    width: 295px; }
    #slider-box .leaflet-menu-slider .ui-slider {
      height: 8px;
      margin-bottom: 10px;
      border: 2px solid rgba(0, 0, 0, 0.2);
      border-radius: 4px;
      background-color: #24373d; }
  #slider-box .slider-resets {
    display: inline-flex; }
    #slider-box .slider-resets a {
      height: auto;
      width: auto;
      padding: 5px 10px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 0;
      border-right: 0;
      font-size: 10px;
      line-height: initial; }
      #slider-box .slider-resets a:first-of-type {
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px; }
      #slider-box .slider-resets a:last-child {
        border-bottom-right-radius: 4px;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        border-top-right-radius: 4px; }

.group-switch {
  max-height: 65%;
  overflow-y: scroll; }

path.leaflet-interactive {
  transition: stroke-opacity 500ms ease-in-out, fill-opacity 500ms ease-in-out, stroke-width 500ms ease-in-out; }
  path.leaflet-interactive.poly-hover {
    transition: stroke-opacity 250ms ease-in-out; }
    path.leaflet-interactive.poly-hover:hover {
      stroke-opacity: .7; }
  path.leaflet-interactive.hover {
    fill-opacity: .1;
    stroke-opacity: .5;
    stroke-width: 2; }
path.leaflet-interactive[fill="#fe57a1"] {
  stroke-opacity: .7; }

#survival-logo {
  position: absolute;
  top: 0;
  width: 15vw;
  max-width: 160px;
  min-width: 70px;
  transform: translateX(-30%);
  cursor: pointer; }
  #survival-logo img {
    position: absolute;
    animation-iteration-count: infinite;
    animation-timing-function: linear; }
  #survival-logo .out {
    animation: outer-ring-rotate 2s infinite linear; }
  #survival-logo .logo {
    animation: logo-wobble 10s infinite linear; }
  #survival-logo .dot {
    animation: logo-dots 2s infinite linear; }
  #survival-logo .in {
    animation: inner-ring-clip 4s infinite linear reverse;
    clip-path: polygon(50% 0, 50% 50%, 50% 0, 0 0, 0 100%, 100% 100%, 100% 0); }

#marker-tools {
  position: absolute;
  display: flex;
  bottom: 20px;
  left: 50%;
  z-index: 1;
  width: 60%;
  padding: 15px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-clip: padding-box;
  background-color: #24373d;
  color: #c7cbd7;
  transform: translateX(-50%); }
  #marker-tools .outer.inputs {
    min-width: 95px; }
    #marker-tools .outer.inputs > div {
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
  #marker-tools .outer.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; }
  #marker-tools label {
    position: relative;
    top: -2px;
    padding-left: 7px;
    font-size: 16px;
    line-height: 25px; }
  #marker-tools img {
    width: 2.5vw;
    min-width: 25px; }
  #marker-tools a {
    padding: 8px 4px; }
    #marker-tools a:hover {
      background-color: rgba(47, 71, 78, 0.5); }
    #marker-tools a.enabled {
      background-color: rgba(47, 71, 78, 0.5); }
  #marker-tools .title {
    font-size: 12px; }
  #marker-tools .underground::before {
    position: absolute;
    z-index: -1;
    width: 2.5vw;
    min-width: 25px;
    margin-top: -1.15vw;
    content: url(../images/level.svg); }
  #marker-tools .overground::before {
    position: absolute;
    z-index: -1;
    width: 2.5vw;
    min-width: 25px;
    margin-top: .95vw;
    content: url(../images/level.svg);
    transform: rotate(180deg); }

input[type="checkbox"] {
  margin-top: 5px;
  cursor: pointer; }

input[type="button"] {
  cursor: pointer; }

label {
  position: relative;
  top: -2px; }

::-webkit-input-placeholder {
  color: #888a90;
  font-style: italic; }

::-moz-placeholder {
  color: #888a90;
  font-style: italic; }

:-ms-input-placeholder {
  color: #888a90;
  font-style: italic; }

.leaflet-message-pane p.chambray {
  color: #3a508e; }
.leaflet-message-pane p.red {
  color: #ab1c1c; }
.leaflet-message-pane p.purple {
  color: #9d60b3; }
.leaflet-message-pane p.orange {
  color: #ff9106; }
.leaflet-message-pane p.astral {
  color: #338498; }
.leaflet-message-pane p.blue-bell {
  color: #8c96c1; }
.leaflet-message-pane p.laurel {
  color: #0d6800; }
.leaflet-message-pane p.hokey-pokey {
  color: #baaf25; }
.leaflet-message-pane p.medium-purple {
  color: #8951e2; }
.leaflet-message-pane p.silver {
  color: #bbbbbb; }
.leaflet-message-pane p.pirate-gold {
  color: #b08900; }
.leaflet-message-pane p.orange-roughy {
  color: #bf611b; }
.leaflet-message-pane p.well-read {
  color: #b13034; }
.leaflet-message-pane p.bird-flower {
  color: #ccc318; }
.leaflet-message-pane p.woodland {
  color: #326629; }
.leaflet-message-pane p.elm {
  color: #207e70; }

.chambray .leaflet-popup-content-wrapper {
  color: #3a508e; }

.red .leaflet-popup-content-wrapper {
  color: #ab1c1c; }

.purple .leaflet-popup-content-wrapper {
  color: #9d60b3; }

.orange .leaflet-popup-content-wrapper {
  color: #ff9106; }

.astral .leaflet-popup-content-wrapper {
  color: #338498; }

.blue-bell .leaflet-popup-content-wrapper {
  color: #8c96c1; }

.laurel .leaflet-popup-content-wrapper {
  color: #0d6800; }

.hokey-pokey .leaflet-popup-content-wrapper {
  color: #baaf25; }

.medium-purple .leaflet-popup-content-wrapper {
  color: #8951e2; }

.silver .leaflet-popup-content-wrapper {
  color: #bbbbbb; }

.pirate-gold .leaflet-popup-content-wrapper {
  color: #b08900; }

.orange-roughy .leaflet-popup-content-wrapper {
  color: #bf611b; }

.well-read .leaflet-popup-content-wrapper {
  color: #b13034; }

.bird-flower .leaflet-popup-content-wrapper {
  color: #ccc318; }

.woodland .leaflet-popup-content-wrapper {
  color: #326629; }

.elm .leaflet-popup-content-wrapper {
  color: #207e70; }

.leaflet-draw-toolbar-notop a:first-child {
  border-top-right-radius: 4px; }

.leaflet-control-attribution a {
  color: #ce8508;
  text-decoration: none; }
  .leaflet-control-attribution a:hover {
    color: #e38208;
    text-decoration: none; }

/*# sourceMappingURL=div.map.css.map */
