@import "./variables";
@import "./mixins";

%menu-button {
    box-sizing: border-box;
    border: $border 1px solid;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: inset 0 0 15px 2px $box-shadow;
}

%sidebar-input {
    background-color: $background;
    color: $text;
    font-size: 12pt;
    outline-width: 0;
    padding: 0 10px;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    border: 1px solid $border;
}

.bar {
    position: absolute;
    z-index: 1000;
    right: 0;

    .box-content {
        position: relative;
        min-height: 275px;
        padding: 10px 10px 15px 12px;
        border-right: 0;
        color: $text;
        font-size: 13px;
        text-shadow: $text-shadow 0 0 5px;
        line-height: 1;

        .success,
        .error:first-of-type {
            margin-top: 25px;
            text-align: center;
        }

        .success {
            color: $set-piece-back;
        }

        &.grid>form,
        &.grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 10px;
            align-items: center;
            grid-row-gap: 10px;

            .right {
                text-align: right;
            }
        }
    }

    input {
        &.input {
            @extend %sidebar-input;

            @extend %menu-button;

            height: 40px;
            padding-left: 10px;

            // margin: 5px 0;
            font-family: $font-0;
            font-size: 13px;
            font-style: normal;
            text-align: left;
            line-height: 40px;
        }

        &.button {
            @extend %sidebar-input;

            @extend %menu-button;

            position: relative;
            left: 100%;
            height: 30px;
            width: 100px;
            padding-left: 10px;
            font-family: $font-0;
            font-size: 16px;
            font-style: normal;
            text-align: center;
            line-height: 30px;
            transform: translateX(-100%);
            transition: all 0.35s ease-in-out;

            @media (hover: hover) {
                &:hover {
                    background-color: $button-hover;
                    box-shadow: inset 0 0 10px 2px $box-shadow;
                }
            }
        }
    }

    // Search Menu
    .search {
        .box-content {
            padding-top: 0;
            max-height: calc(100vh - 239px);
            overflow-x: hidden;
            overflow-y: auto;
            border-top: 1px solid $border;
            box-shadow: inset 0 15px 15px -15px rgba(0, 0, 0, 0.55); // top only box shadow

        }

        .share {
            &.all {
                position: absolute;
                width: 25px;
                height: 25px;
                top: 10px;
                right: 10px;
            }
        }
    }

    .search-wrapper {
        display: flex;
        margin-top: 10px;
    }

    .input.search {
        flex-grow: 1;
        border-bottom-right-radius: 0;
        padding-right: 0;
    }

    .search-clear {
        @extend %sidebar-input;

        height: 40px;
        width: 40px;
        box-sizing: border-box;
        padding-left: 10px;
        border: $border 1px solid;
        border-left: 0;
        border-bottom-right-radius: 10px;
        box-shadow: inset 0 0 15px 2px $box-shadow;
        transition: all 0.35s ease-in-out;
        background-image: url(../images/menu-clear.svg);
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;

        @media (hover: hover) {
            &:hover {
                background-color: $power-red-hover;
                box-shadow: inset 0 0 10px 2px $box-shadow;
            }
        }
    }

    .no-results {
        .none {
            text-align: center;
            font-size: 15px;
        }

        .try {
            margin-bottom: 0;
        }
    }

    .more {
        display: none;
        font-size: 10px;
        text-align: right;
        cursor: pointer;
        transition: .3s color ease;
        margin-right: 10px;

        @media (hover: hover) {
            &:hover {
                color: $orange;
            }
        }
    }

    .result {
        position: relative;
        display: grid;
        cursor: pointer;
        grid-template-columns: 40px repeat(3, 1fr);
        grid-template-rows: 12px 28px auto 20px 10px;
        grid-column-gap: 5px;
        grid-template-areas: "icon category-head type-head creator-head"
            "icon category-body type-body creator-body"
            ". content content content"
            "number content content content"
            "border border border border";

        img {
            transform: initial;
        }

        .place {
            position: absolute;
            padding: 2px 7px 2px 2px;
            align-self: end;
            grid-area: number;
            font-size: 8px;
            border-top: 1px solid $text;
            border-right: 1px solid $text;
            border-top-right-radius: 15px;

            .num {
                font-size: 10px;
            }
        }

        .icon {
            grid-area: icon;
            width: 40px;
            margin-top: -4px;
        }

        .poly {
            grid-area: icon;
            width: 30px;
            height: 30px;
            border-width: 2px;
            opacity: 0.4;
            margin: 5px;
        }

        .category {
            &.head {
                grid-area: category-head;
                background: rgba($woodland, 0.4);
            }

            &.text {
                grid-area: category-body;
            }

            &.back {
                grid-area: 1 / 2 / 3 / 3;
            }
        }

        .type {
            &.head {
                grid-area: type-head;
                background: rgba($medium-purple, 0.4);
            }

            &.text {
                grid-area: type-body;
            }

            &.back {
                grid-area: 1 / 3 / 3 / 4;
            }
        }

        .creator {
            &.head {
                grid-area: creator-head;
                background: rgba($orange-roughy, 0.4);
            }

            &.text {
                grid-area: creator-body;
            }

            &.back {
                grid-area: 1 / 4 / 3 / 5;
            }
        }

        .head {
            display: block;
            width: 100%;
            font-size: 9px;
            line-height: 15px;
            align-self: center;
            text-align: center;
            border-top-left-radius: 10px;
            border: 1px solid $border;
            border-bottom: 0;
            box-sizing: border-box;
        }

        .text:not(.content) {
            display: block;
            width: 100%;
            font-size: 11px;
            line-height: 9px;
            align-self: center;
            text-align: center;
            padding: 0 2px;

            // margin-top: -2px;
            box-sizing: border-box;
        }

        .back {
            @extend %menu-button;
        }

        .content {
            grid-area: content;
            margin: 5px 0 10px;

            &.poly-info {
                border-radius: 0;
                border: 0;
                padding: 3px 0;

                li {
                    font-size: 12px;

                    img {
                        width: 15px;
                    }

                    span {
                        font-size: 12px;
                    }
                }

                .leaflet-popup-tip-container {
                    display: none;
                }

                .title {
                    font-size: 18px;
                    line-height: 16px;
                    margin-bottom: 3px;
                }

                img {
                    margin-right: 2px;
                    position: relative;
                    top: 3px;
                    width: 15px;
                }

                p {
                    color: $text;
                    font-size: 10px;
                    margin-bottom: 5px;

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }

                .description {
                    color: $gray;
                    white-space: normal;
                }

                .level {
                    font-size: 12px;
                    margin-top: -5px;

                    .number {
                        font-size: 13px;
                        color: $woodland;
                    }
                }

                .type {
                    font-size: 11px;
                }

                .tier img {
                    margin-right: 0;
                    top: 1px;
                    width: 15px;
                }
            }

            .icon-npc {
                width: 23px;
            }

            ul {
                list-style-type: disc;
                margin-top: 0;
            }

            li {
                font-size: 11px;
                line-height: 12px;

                img {
                    transform: translate(-7px, 3px);
                    width: 12px;
                }
            }
        }

        strong {
            color: $orange;
        }

        hr {
            grid-area: border;
            margin: 0;
        }

        .level {
            font-size: 11px;
            position: initial;
            top: initial;
            right: initial;
        }
    }

    .quick {
        display: grid;
        grid-template-columns: repeat(4, calc((100% - 30px) / 4));
        grid-template-areas: "category type creator content";
        grid-column-gap: 10px;
        margin: 10px 0 2px;

        .button {
            @extend %menu-button;

            transition: all .3s ease;
            text-align: center;
            line-height: 25px;
            font-size: 11px;
            cursor: pointer;
        }

        .category {
            @include button-color($woodland, 0.4);

            grid-area: category;
        }

        .type {
            @include button-color($medium-purple, 0.4);

            grid-area: type;
        }

        .creator {
            @include button-color($orange-roughy, 0.4);

            grid-area: creator;
        }

        .content {
            @include button-color($blue-bell, 0.4);

            grid-area: content;
        }
    }

    .count {
        margin: 10px 0 15px;
        text-align: center;

        .num {
            color: $apple;
            font-size: 18px;
            position: relative;
            top: 2px;
        }
    }

    .sort {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 5px;
        margin-top: 3px;

        .button {
            .back {
                @extend %menu-button;

                transition: all .3s ease;
                text-align: center;
                height: 25px;
                background-position-x: center;
                background-position-y: center;
                box-shadow: inset 0 0 7px 0 $box-shadow;
                cursor: pointer;
            }
        }

        .toggle-wrap {
            display: flex;

            input {
                display: none;
            }

            label {
                display: block;
            }
        }

        .toggle {
            flex-grow: 1;
        }

        .back {
            &.asc {
                border-bottom-right-radius: 0;
            }

            &.desc {
                border-top-left-radius: 0;
                border-left: 0;
            }

            &.distance {
                @include button-color($bird-flower, 0.4);

                &.asc {
                    background-image: url(../images/menu-sort-score-asc.svg?v=0.2);
                }

                &.desc {
                    background-image: url(../images/menu-sort-score-desc.svg?v=0.2);
                }
            }

            &.category {
                @include button-color($woodland, 0.4);

                &.asc {
                    background-image: url(../images/menu-sort-category-asc.svg?v=0.2);
                }

                &.desc {
                    background-image: url(../images/menu-sort-category-desc.svg?v=0.2);
                }
            }

            &.type {
                @include button-color($medium-purple, 0.4);

                &.asc {
                    background-image: url(../images/menu-sort-type-asc.svg?v=0.2);
                }

                &.desc {
                    background-image: url(../images/menu-sort-type-desc.svg?v=0.2);
                }
            }

            &.content {
                @include button-color($blue-bell, 0.4);

                &.asc {
                    background-image: url(../images/menu-sort-content-asc.svg?v=0.2);
                }

                &.desc {
                    background-image: url(../images/menu-sort-content-desc.svg?v=0.2);
                }
            }

            &.date {
                @include button-color($well-read, 0.4);

                &.asc {
                    background-image: url(../images/menu-sort-date-asc.svg?v=0.2);
                }

                &.desc {
                    background-image: url(../images/menu-sort-date-desc.svg?v=0.2);
                }
            }
        }

        input:checked+.back {
            box-shadow: inset 0 0 7px 0 rgba(155, 155, 155, 0.35);
        }
    }

    .checks {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 5px;
        margin: 5px 0;
    }

    label.check {
        display: grid;
        grid-template-columns: 25px 1fr;
        grid-column-gap: 2px;
        grid-template-areas: "mark text";

        input {
            display: none;
        }

        .mark {
            grid-area: mark;
            width: 25px;
            height: 25px;
        }

        .back {
            background-image: url(../images/menu-checkbox.svg?v=0.2);
        }

        .tick {
            background-image: url(../images/menu-checktick.svg);
            transform: scale(0);
            transition: transform .3s ease;
        }

        input:checked~.tick {
            transform: scale(1);
        }

        .text {
            grid-area: text;
            font-size: 10px;
            line-height: 25px;
        }
    }

    // End Search Menu

    .button {
        &.share {
            cursor: pointer;
            background-image: url(../images/menu-share.svg?v=3);
        }

        &.textual {
            margin: 0 3px;
            transition: color ease .4s;

            @media (hover: hover) {
                &:hover {
                    color: $orange;
                }
            }
        }
    }

    .no-scroll {
        position: relative;
        padding: 10px 10px 5px 12px;
        border-right: 0;
        color: $text;
        font-size: 13px;
        text-shadow: $text-shadow 0 0 5px;
        line-height: 1;
    }

    div {

        &.login,
        &.todo,
        &.changes,
        &.mode,
        &.search {
            @media (max-width: 500px) {
                width: calc(100vw - 40px);
            }

            width: 300px;
            max-width: 300px;
        }

        &.shorts {
            width: 170px;
            max-width: 170px;
        }

        &.credits {
            display: grid;
            grid-template-rows: repeat(4, 35px);
            grid-row-gap: 3px;
            padding-top: 20px;
            justify-items: center;
        }
    }

    .credit-icon {
        width: 150px;
    }

    .item {
        padding: 3px 0;

        >div {
            display: inline-block;
            width: 20px;
            text-align: center;
        }

        .grey {
            width: 10px;
            color: $gray;
        }
    }

    .list {
        padding-left: 15px;
        list-style-type: circle;
        margin-top: 3px;

        li {
            font-size: 12px;
            line-height: 15px;
        }
    }

    .title {
        display: block;

        sup {
            font-size: 11px;
        }

        &.sub.date {
            padding-top: 10px;
            margin-bottom: -5px;
            color: $orange;
        }
    }

    .side-bar-button {
        display: block;
        color: $text;
        text-decoration: none;
        line-height: 1;
        transition: linear 0.1s color;

        span {
            padding-left: 5px;

            &.quantity {
                position: absolute;
                margin-top: 9px;
                opacity: 0;
                padding-left: 0;
                color: $gray;
                font-size: 10px;
                transition: linear 10s opacity;
                right: 5px;
                z-index: -1;
            }
        }

        &.inactive {
            color: $inactive;
            text-decoration: line-through;

            img {
                opacity: 0.5;
            }

            .polyline,
            .polygon {
                opacity: 0.2;
            }
        }

        &.button {
            position: absolute;
            right: 15px;
            margin-top: 5px;
            font-size: 10px;

            &.forgot {
                left: 17px;
            }
        }

        @media (hover: hover) {
            &:hover {
                color: $attribute-hover;
                text-decoration: none;

                span {
                    &.quantity {
                        opacity: 1;
                        text-shadow: $text-shadow 0 0 5px;
                        transition: linear 0.05s opacity;
                    }
                }
            }
        }

        &.credits.name {
            display: initial;
            color: $orange;
        }

        &.active {
            color: $orange;
        }

        img {
            width: 18px;
            transform: translateY(4px);
        }
    }

    .side div,
    span {
        &.title {
            font-size: 20px;
            text-align: center;
        }

        &.sub.title {
            padding: 10px 0 0;
            font-size: 16px;
            text-align: left;

            span {
                font-size: 16px;
            }
        }
    }

    div.sub.title {
        margin-top: 10px;
        display: flex;

        span {
            font-size: 15px;
        }
    }

    .control {
        position: relative;
        display: inline-block;
        width: 16px;
        height: 16px;
        padding: 4px;
    }

    .collapse .icon {
        width: 10px;
        padding: 4px;

        &::before {
            content: url(../images/menu-collapse.svg);
        }

        &.hidden {
            &::before {
                content: url(../images/menu-expand.svg);
            }
        }
    }

    .hide-some {
        margin-left: auto;
        margin-right: -4px;
        top: 2px;

        &::before {
            content: url(../images/menu-hide.svg);
        }

        &.hidden {
            &::before {
                content: url(../images/menu-show.svg);
            }
        }
    }

    .polygon {
        display: inline-block;
        height: 15px;
        width: 15px;
        opacity: 0.5;
        border: solid 1px;
        transform: translate(1px, 4px);
    }

    .polyline {
        display: inline-block;
        height: 6px;
        width: 16px;
        opacity: 0.5;
        border-radius: 3px;
        transform: translate(1px, -2px);
    }

    .shorts {
        .box-content {
            padding-bottom: 30px;
        }

        .sub {
            color: $orange;
        }
    }

    .todo ul li {
        font-size: 12px;
    }

    .help {
        margin: 0;
        padding-inline-start: 20px;

        ul {
            padding-inline-start: 20px;
        }

        li {
            display: none;
        }
    }

    p {
        &.error {
            color: $error;
        }
    }

    .divider {
        background-color: $gray;
        height: 3px;
        position: absolute;
        width: 70%;
        margin-top: -15px;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0.2;
        filter: blur(1px);
    }

    .level {
        font-size: 10px;
        position: absolute;
        top: 10px;
        right: 15px;
    }

    .credits {
        margin-top: 2px;

        .tag {
            display: initial;
            font-size: 12px;
        }

        [name='submit'] {
            position: relative;
            margin-bottom: -3px;
        }
    }

    .hide-all {
        position: absolute;
        width: 16px;
        height: 16px;
        right: 10px;
        top: 15px;

        &::before {
            content: url(../images/menu-hide.svg);
            position: absolute;
            right: 0;
            width: 16px;
            height: 16px;
        }

        &.hidden {
            &::before {
                content: url(../images/menu-show.svg);
            }
        }
    }

    .hide-complete {
        display: block;
        position: relative;
        margin-top: 10px;
        padding-left: 24px;

        &::before {
            content: url(../images/menu-complete.svg);
            position: absolute;
            width: 20px;
            left: 0;
            top: -4px;
        }

        &.hidden {
            &::before {
                content: url(../images/menu-complete-hide.svg);
            }
        }
    }

    .map-mode-box {
        margin: 15px 5px;
        pointer-events: none;
        position: absolute;
        right: 40px;
        transform: translateX(0);
        transition: all 1s ease, opacity 1ms;

        .map-mode {
            position: absolute;
            display: flex;
            flex-flow: row-reverse;
            justify-content: flex-start;
            pointer-events: initial;
            cursor: pointer;
            width: 200px;
            right: -1000px;
            margin-bottom: 10px;
            transform: translateX(0);
            transition: all 1s ease, opacity 1ms;

            &.active {
                right: 0;
            }

            * {
                pointer-events: none;
            }
        }

        &.active {
            .map-mode {
                // position: relative;
                right: 0;
            }
        }

        .img {
            width: 35px;
            height: 35px;
            margin-left: 5px;
            margin-top: -4px;
        }

        .desc {
            font-size: 16pt;
            left: 40px;
            color: $text;
            line-height: 35px;
        }
    }
}

.bar-box {
    position: fixed;
    top: 5px;
    width: 210px;
    opacity: 1;
    border: $border solid 1px;
    border-radius: 10px 0 0;
    background-color: $background;
    transform: translateX(0);
    transition: all 1s ease, opacity 1ms;
    min-height: 256px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: calc(100vh - 37px);

    &:not(.active) {
        opacity: 0;
        pointer-events: none;
    }

    &.search {
        overflow: initial;
    }
}

.mode-wrap {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 50px auto;
    grid-column-gap: 10px;
    margin-top: 10px;
    border: $background solid 2px;
    border-radius: 10px 0;
    box-sizing: border-box;
    transition: all .3s ease;
    cursor: pointer;
    padding: 0 5px 5px;

    &.active {
        border-color: $orange-roughy;
        background-color: lighten($background, 3%);
    }

    @media (hover: hover) {
        &:hover {
            border-color: $orange;
            background-color: lighten($background, 6%);
        }
    }

    .mode-name {
        position: relative;
        line-height: 50px;
        font-size: 18px;

        &:after {
            content: '';
            position: absolute;
            bottom: 3px;
            left: 0;
            width: 70%;
            height: 1px;
            background-color: $text;
        }
    }

    .mode-icon {
        transform: scale(1.1);
    }

    .mode-desc {
        color: $gray;
        padding: 0 5px;

        p {
            font-size: 11px;
            text-indent: 10px;
            text-align: justify;
            margin: 5px 0;
        }

        strong {
            color: lighten($gray, 10%)
        }
    }
}

.bar-toggle {
    &.login {
        background-image: url(../images/menu-login.svg?v=1.0);

        &.out {
            background-image: url(../images/menu-logout.svg?v=1.0);
        }
    }

    &.mode {
        background-image: url(../images/mode-story-mode.svg);

        &.tier-1 {
            background-image: url(../images/mode-world-tier-1.svg);
        }

        &.tier-2 {
            background-image: url(../images/mode-world-tier-2.svg);
        }

        &.tier-3 {
            background-image: url(../images/mode-world-tier-3.svg);
        }

        &.tier-4 {
            background-image: url(../images/mode-world-tier-4.svg);
        }

        &.tier-5 {
            background-image: url(../images/mode-world-tier-5.svg);
        }
    }

    &.filters {
        background-image: url(../images/menu-filters.svg?v=1.03);
    }

    &.search {
        background-image: url(../images/menu-search.svg?v=1.03);
    }

    &.full {
        background-image: url(../images/menu-fullscreen.svg?v=1.0);

        &.yes {
            background-image: url(../images/menu-restore.svg?v=1.0);
        }
    }

    &.changes {
        background-image: url(../images/menu-changes.svg?v=1.05);
    }

    &.todo {
        background-image: url(../images/menu-check.svg?v=1.05);
    }

    &.language {
        background-image: url(../images/menu-language.svg?v=1.02);
    }

    &.shorts {
        display: none;
        background-image: url(../images/menu-shortcuts.svg?v=1.03);
    }

    &.active {
        background-image: url(../images/menu-close.svg?v=1.2) !important;
    }
}

@include desktop {
    .bar {
        top: 5px;
        bottom: 30px;

        .bar-toggle-wrap {
            transition: all 1s ease;
        }

        .bar-toggle {
            position: absolute;
            display: block;
            color: $text;
            text-decoration: none;
            left: -35px;
            height: 35px;
            padding: 0 40px;
            border: $border solid 1px;
            border-radius: 20px;
            background-color: $background;
            background-position: 2px 0;
            background-repeat: no-repeat;
            line-height: 35px;
            white-space: nowrap;
            transform: translateX(0);
            transition: all 1s ease;
        }

        &.active {
            &.filters>* {
                transform: translateX(-212px);
            }

            &.shorts>*,
            &.language>* {
                transform: translateX(-172px);
            }

            &:not(.shorts):not(.filters)>* {
                transform: translateX(-302px);
            }
        }
    }
}


@include mobile {
    .bar {
        top: 0;
        bottom: 0;

        .bar-open {
            position: absolute;
            top: 5px;
            right: 5px;
            background-image: url(../images/menu.svg);
            background-size: 24px;
            background-position: 3px 3px;
            background-repeat: no-repeat;
            width: 30px;
            height: 30px;
            background-color: rgba($background, 1);
            border: 1px solid rgba($border, 1);
            border-radius: 20px 0 20px 20px;
            transform: translateX(0) !important;
        }

        .bar-toggle-wrap {
            display: grid;
            grid-auto-rows: 40px;
            position: absolute;
            left: 0;
            top: 0;
            background-color: $background;
            border-left: $border solid 1px;
            border-bottom: $border solid 1px;
            border-radius: 0 0 0 10px;
            transition: all 1s ease;
            padding: 5px 2px;

            &.active {
                transform: translateX(-100%);
            }
        }

        .bar-toggle {
            color: $text;
            text-decoration: none;
            padding: 0 10px 0 45px;
            background-position: 2px 2px;
            background-size: 35px;
            background-repeat: no-repeat;
            line-height: 40px;
            white-space: nowrap;
            transform: translateX(0);

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                width: 60%;
                height: 1px;
                margin-left: 10px;
                background-color: rgba($background-hover, 0.4);
                left: 0;
            }

            &:nth-last-child(2) {
                &:after {
                    height: 0;
                }
            }
        }

        &.active {
            &.filters {
                >* {
                    transform: translateX(-263px);
                }

                .bar-toggle-wrap {
                    transform: translateX(calc(-263px - 43px));
                }
            }

            &:not(.filters) {
                >* {
                    transform: translateX(-301px);
                }

                .bar-toggle-wrap {
                    transform: translateX(calc(-301px - 43px));
                }

                @media (max-width: 346px) {
                    >* {
                        transform: translateX(calc(-100vw + 45px));
                    }

                    .bar-toggle-wrap {
                        transform: translateX(calc(-100vw + 2px));
                    }
                }
            }
        }

        .search {
            .box-content {
                max-height: calc(100vh - 239px);
            }
        }

        .sort {
            .back {
                background-position-x: -2px;
            }
        }

        div {
            &.filters {
                width: 262px;
                max-width: 262px;
            }
        }

        .more {
            box-sizing: border-box;
            border: $border 1px solid;
            border-radius: 10px 0;
            box-shadow: inset 0 0 15px 2px $box-shadow;
            background-color: $background;
            color: $text;
            font-size: 12pt;
            outline-width: 0;
            padding: 5px 20px;
            text-align: center;
            white-space: nowrap;
            transition: background-color .3s ease;
            width: max-content;
            margin-left: auto;
            margin-right: 0;

            @media (hover: hover) {
                &:hover {
                    background-color: $orange-roughy;
                    color: $text;
                }
            }
        }

        .shorts {
            display: none !important;
        }
    }

    .bar-box {
        top: 0;
        border-top: 0;
        border-right: 0;
        border-radius: 0 0 0 10px;
        max-height: 100%;

        &:not(.shorts):not(.filters) {
            width: calc(100vw - 40px);
        }
    }

    .category-wrap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;
        max-width: 100%;

        .buttons {
            grid-column: 1/-1;
            margin-bottom: 5px;
        }

        .quantity {
            display: none;
        }

        span.name {
            display: block;
            width: 100%;
            position: absolute;
            bottom: 0;
            font-size: 12px;
            text-align: center;
            padding: 0;
            line-height: 1;
        }

        div,
        img {
            .visual {
                position: absolute;
                top: 0;
                margin: auto;
                width: 65%;
                transform: translateX(-50%);
                left: 50%;
            }
        }

        div.visual {
            width: 55%;
            height: 55%;
        }

        .spacer {
            position: relative;
            padding-top: 100%;
            margin-bottom: 10px;
        }
    }
}

@media (pointer: coarse) {
    .bar {
        &.active {
            &.filters {
                >* {
                    transform: translateX(-263px);
                }

                .bar-toggle-wrap {
                    transform: translateX(calc(-263px - 43px));
                }
            }
        }
    }

    .category-wrap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;
        max-width: 100%;

        .buttons {
            grid-column: 1/-1;
            margin-bottom: 5px;
        }

        .quantity {
            display: none;
        }

        span.name {
            display: block;
            width: 100%;
            position: absolute;
            bottom: 0;
            font-size: 12px;
            text-align: center;
            padding: 0;
            line-height: 1;
        }

        div,
        img {
            .visual {
                position: absolute;
                top: 0;
                margin: auto;
                width: 65%;
                transform: translateX(-50%);
                left: 50%;
            }
        }

        div.visual {
            width: 55%;
            height: 55%;
        }

        .spacer {
            position: relative;
            padding-top: 100%;
            margin-bottom: 10px;
        }
    }
}

.span-row {
    grid-column: 1/-1;
}

input {
    &.incorrect {
        box-shadow: inset 0 0 15px 2px $box-shadow-error !important;
    }
}