//colors
$apple: #4B8E3D;
$astral: #338498;
$bird-flower: #b8b12e;
$blue-bell: #8c96c1;
$chambray: #3a508e;
$elm: #207e70;
$hokey-pokey: #b4ab2d;
$laurel: #1c5214;
$medium-purple: #724ab1;
$orange-roughy: #af652c;
$orange: #cd8a37;
$pirate-gold: #8f7824;
$purple: #9d60b3;
$red: #9f2828;
$silver: #bbb;
$stiletto: #A03C3C;
$well-read: #b13034;
$woodland: #326629;
$black: #000;

$map-back: #4b4845;
$classified: rgb(193, 143, 20);
$attribute-hover: #e38208;
$attribute: #ce8508;
$background-hover-50: rgba(47, 71, 78, 0.5);
$background-hover: #2f474e;
$background: #24373d;
$blur: #0b1c22;
$border: #081b21;
$border-hmm: #16292f;
$box-shadow-error: rgba(146, 50, 50, 0.55);
$box-shadow: rgba(0, 0, 0, 0.55);
$button-back: #454545;
$button-hover: rgba(255, 145, 6, 0.5);
$edit-icon-border: rgba(102, 102, 102, 0.7);
$edit-icon-hover: rgba(185, 173, 30, 0.3);
$edit-icon: rgba(255, 255, 255, 0.3);
$error: #923232;
$garden-name: #0e2d1a;
$gray: #808080;
$inactive: #757882;
$placeholder: #888a90;
$power-green-hover: #346635;
$power-green: #2c562d;
$power-red-hover: #8c2929;
$power-red: #722;
$save-hover: #866616;
$save: #735711;
$set-piece-back: #26794d;
$set-piece-icon: #639979;
$set-piece-class-back: #9a7618;
$set-piece-class-icon: #c18f14;
$street-name: #6b6b6b;
$text-shadow: rgba(0, 0, 0, 0.8);
$text: #c7cbd7;
$pink: rgb(254, 87, 161);

//fonts
$font-0: Prototype;
$font-3: sans-serif;
$font-4: Arial;
$font-5: Helvetica;

$device-width: 480px;